*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#333;
}

.precio{
    font-size: 55px;
    font-weight: 900;
}
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: wheat;
    margin-top: 4vh;
    cursor: pointer;
}
.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.modal-conteiner{
    width: 80%;
    margin: 0, 10%;
    max-height: 88vh;
    color: white;
    background-color: rgb(94, 129, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;

}
.modal-conteiner::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}

.modal-header-tittle{
    justify-self: start;
}
.modal-header-button {
    cursor: pointer;
}

.modal-conteiner > .modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal.conteiner > div > img{
height: 120px;
width: 120px;
}
.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product{
    cursor: pointer;
    background-color: rgb(1, 6, 27);
}

button{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}